<p id="notice"><%= notice %></p>

<h3>Team Page: <%= @team.name.capitalize %></h3>

<h5>Team's Members</h5>

<table class="table-striped" border="1" cellspacing="5" cellpadding="5">
  <tr>
		<th>User Name</th>
  </tr>
<%@team.members.each do |member| %>
  <tr>
		<td><%= link_to member.name, member %></td>
  </tr>
<%end%>
</table>

<h5>Team's Projects</h5>

<table class="table-striped" border="1" cellspacing="5" cellpadding="5">
  <tr>
		<th>Name</th>
    <th>Actions</th>
  </tr>
<%@team.projects.each do |project| %>
  <tr>
		<td><%= link_to project.title, project %></td>
    <td>
			<%= link_to 'Edit', edit_project_path(project) %> |
			<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>
  </tr>
<%end%>
</table>

<hr />
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %> 