<h2>Listing users</h2>

<table class='table-striped' border="1" cellspacing="5" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Edit Profile</th>
    <th>Delete User</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><a href="#modal" data-toggle="modal"><%= user.name %></a></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
	
	<div class="modal hide fade" id="modal">
		<p>
		  <b>Name:</b>
		  <%= user.name %><br>
			<%= link_to 'Edit', edit_user_path(user) %><br>
			<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	</div>
	
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
