<form action="<%= @item.persisted? ? item_path(@item) : project_items_path  %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
	<input type="hidden" name="_method" value="<%= @item.persisted? ? "put" : "post" %>" id="_method">
	
	<label for="Title">Title</label><br>
	<input type="text" name="item[title]" value="<%= @item.title %>" id="Title"><br>
	<label for="Description">Description</label><br>
	<textarea name="item[description]" rows="8" cols="40"><%= @item.description %></textarea>
	
	<h4>Completed?</h4>
	<label for="check_true" class="radio">check_true<input type="radio" name="item[completed]" value="true" id="check_true" class="checkbox" <%= "checked" if @item.completed %> ></label>
	<label for="check_false" class="radio">check_false<input type="radio" name="item[completed]" value="false" id="check_false" class="checkbox" <%= "checked" if @item.completed == false %>></label><br>
	
	
	<input type="hidden" name="item[id]" value="<%= @item.id %>" id="item[id]">
	
	<input class= "btn btn-primary" type="submit" name="submit" value="Submit Information" id="submit">
</form>