<!DOCTYPE html>
<html>
<head>
  <title>Twodoo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="<%= projects_url %>">All Projects</a></li>
				<li class="divider-vertical"></li>
				<li><a href="<%= teams_url %>">All Teams</a></li>
				<li class="divider-vertical"></li>
				<li><a href="<%= users_url %>">All Users</a></li>				
			</ul>			
		</div>
	</div>
	<div class='span12'>
		<%= yield %>		
	</div>


</body>
</html>
